<ul class="polycollection-types">
    {% for type, line in input.get('prototypes') %}
    <li class="polycollection-type" data-type="{{type}}" data-prototype="{{ form_errors(line) | escape }}{{form_widget(line) | escape }}">
        <a class="add_item btn btn-primary line_{{ type }}" href="#">
            <i class="icon-plus icon-white"></i> Add {{ type }}
        </a>
    </li>
    {% endfor %}
</ul>
